# Config fragment for device features which aren't enabled in the upstream
# defconfig. Use of =y heavily discouraged.

# sdm845
# Lenovo Yoga C630
CONFIG_EC_LENOVO_YOGA_C630=m
CONFIG_BATTERY_LENOVO_YOGA_C630=m
CONFIG_UCSI_LENOVO_YOGA_C630=m
# OnePlus 6/6T
CONFIG_DRM_PANEL_SAMSUNG_SOFEF00=m
CONFIG_RMI4_CORE=m
CONFIG_RMI4_I2C=m
CONFIG_RMI4_F03_SERIO=m
CONFIG_RMI4_2D_SENSOR=y
CONFIG_RMI4_F11=y
CONFIG_RMI4_F12=y
CONFIG_RMI4_F30=y
# SHIFT6mq
CONFIG_DRM_PANEL_VISIONOX_RM69299=m

# X1E - should be enabled in defconfig but waiting for
# https://lore.kernel.org/linux-arm-msm/48cfd337-e691-7f10-71df-f6389e098e67@quicinc.com/
CONFIG_QCOM_CPUCP_MBOX=m

# sc7180
CONFIG_SC_DISPCC_7180=m
CONFIG_SC_GPUCC_7180=m
CONFIG_SC_LPASS_CORECC_7180=m
CONFIG_SC_VIDEOCC_7180=m
# Acer Aspire 1
CONFIG_EC_ACER_ASPIRE1=m

# msm8916
CONFIG_ARM64_ERRATUM_834220=y
CONFIG_EXTCON_QCOM_SPMI_MISC=m
# gt58/gt510
CONFIG_TOUCHSCREEN_ZINITIX=m
CONFIG_DRM_PANEL_SAMSUNG_S6D7AA0=m
CONFIG_PWM_CLK=m
CONFIG_SND_SOC_TFA989X=m
CONFIG_CM3323=m
CONFIG_IIO_ST_ACCEL_3AXIS=m

# pine64 pinephone
CONFIG_ARM_SUN8I_A33_MBUS_DEVFREQ=m
CONFIG_AXP20X_ADC=m
CONFIG_AXP20X_POWER=m
CONFIG_BATTERY_AXP20X=m
CONFIG_CHARGER_AXP20X=m
CONFIG_INPUT_AXP20X_PEK=m
CONFIG_INV_MPU6050_I2C=m
CONFIG_KEYBOARD_PINEPHONE=m
CONFIG_KEYBOARD_SUN4I_LRADC=m
CONFIG_LEDS_CLASS_FLASH=m
CONFIG_LEDS_GROUP_MULTICOLOR=m
CONFIG_LEDS_SGM3140=m
CONFIG_RTW88=m
CONFIG_RTW88_8723CS=m
CONFIG_STK3310=m
CONFIG_V4L2_FLASH_LED_CLASS=m
CONFIG_VIDEO_SUN8I_DEINTERLACE=m
CONFIG_VIDEO_SUN8I_ROTATE=m
CONFIG_VIDEO_SUNXI=y
CONFIG_VIDEO_SUNXI_CEDRUS=m
