# Config fragment for device features which aren't enabled in the upstream
# defconfig. Use of =y heavily discouraged.

# OnePlus 6/6T
CONFIG_DRM_PANEL_SAMSUNG_SOFEF00=m
CONFIG_RMI4_CORE=m
CONFIG_RMI4_I2C=m
CONFIG_RMI4_F03_SERIO=m
CONFIG_RMI4_2D_SENSOR=y
CONFIG_RMI4_F11=y
CONFIG_RMI4_F12=y
CONFIG_RMI4_F30=y
# SHIFT6mq
CONFIG_DRM_PANEL_VISIONOX_RM69299=m

# msm8916
CONFIG_ARM64_ERRATUM_834220=y
CONFIG_EXTCON_QCOM_SPMI_MISC=m
# gt58/gt510
CONFIG_TOUCHSCREEN_ZINITIX=m
CONFIG_DRM_PANEL_SAMSUNG_S6D7AA0=m
CONFIG_PWM_CLK=m
CONFIG_SND_SOC_TFA989X=m
CONFIG_CM3323=m
CONFIG_IIO_ST_ACCEL_3AXIS=m

