[Unit]
Description=Disable pulseaudio suspend-on-idle module during call
Requires=dbus.service

[Service]
ExecStart=/usr/sbin/call_audio_idle_suspend_workaround

[Install]
WantedBy=default.target
