[Unit]
Description=flatpak portal
PartOf=graphical-session.target

[Service]
BusName=org.freedesktop.portal.Flatpak
ExecStart=/usr/lib/flatpak/flatpak-portal
Type=dbus
