# map touchkey on imagis-touchscreen to KEY_MENU and KEY_BACK
SUBSYSTEM=="input", KERNEL=="event*", DRIVERS=="imagis-touchscreen", \
ENV{KEYBOARD_KEY_00}="menu", ENV{KEYBOARD_KEY_01}="back", RUN{builtin}+="keyboard"

# prevent from getting woken up by capacitive back/menu buttons on
# certain Android devices (mostly Samsung)
SUBSYSTEM=="input", KERNEL=="event*", DRIVERS=="imagis-touchscreen", \
ENV{GM_WAKEUP_KEY_139}="0", ENV{GM_WAKEUP_KEY_158}="0"
