# https://docs.gitlab.com/ee/user/project/code_owners.html
# Put groups like @sdm845-mainline into test_device.py:gitlab_groups.
# Order lines alphabetically!

device/*/*-amlogic-s905*/			@funderscore
device/*/*-arrow-db410c/			@Minecrell
device/*/*-asus-me176c/				@Minecrell
device/*/*-ayn-odin/				@jenneron
device/*/*-bq-paella/				@Minecrell
device/*/*-bq-tenshi/				@fossdd
device/*/*-google-gru/				@jenneron
device/*/*-google-kukui/			@jenneron @binarycraft
device/*/*-google-oak/				@jenneron @adamthiede
device/*/*-google-trogdor/			@jenneron
device/*/*-google-veyron/			@jenneron
device/*/*-google-x64cros/			@jenneron @JustSoup321 @alpernebbi
device/*/*-htc-golfu/				@Newbyte
device/*/*-htc-m8qlul/				@Newbyte
device/*/*-kobo-clara/				@akemnade
device/*/*-lenovo-21bx/				@craftyguy @jane400
device/*/*-lenovo-a6000/			@jenneron @Minecrell
device/*/*-lenovo-a6010/			@jenneron @Minecrell
device/*/*-librecomputer-lafrite/		@funderscore
device/*/*-librecomputer-lepotato/		@funderscore
device/*/*-librecomputer-solitude/		@Newbyte @funderscore
device/*/*-motorola-harpia/			@Minecrell
device/*/*-nokia-n900/				@sicelo @Danct12
device/*/*-pine64-pinebookpro/			@QC8086
device/*/*-pine64-pinephone/			@craftyguy @milesalan @proycon @anjandev @StacyHarper @Arnavion @PsychoGame
device/*/*-pine64-pinephonepro/			@PsychoGame
device/*/*-pine64-rockpro64/			@PureTryOut
device/*/*-purism-librem5/			@craftyguy @alistair23 @Newbyte
device/*/*-qcom-msm8916/			@Minecrell @TravMurav
device/*/*-qcom-msm8953/			@barni2000 @alikates @vipaoL @jiaxyga
device/*/*-qcom-sdm670/				@flamingradian
device/*/*-qcom-sdm845/				@sdm845-mainline
device/*/*-qcom-sm6350/				@z3ntu
device/*/*-qcom-sm8250/				@jianhua
device/*/*-qcom/					@calebccff
device/*/*-samsung-a3/				@Mis012 @TravMurav @Minecrell
device/*/*-samsung-a5/				@Minecrell @minlexx
device/*/*-samsung-a51/				@manoedinata
device/*/*-samsung-e7/				@wonderfulShrineMaidenOfParadise
device/*/*-samsung-espresso10/			@MightyM17
device/*/*-samsung-espresso7/			@MightyM17 @antoni.aloytorrens
device/*/*-samsung-fortuna/			@wonderfulShrineMaidenOfParadise
device/*/*-samsung-fortunaltezt/		@bolilingmeng89006
device/*/*-samsung-grandmax/			@wonderfulShrineMaidenOfParadise
device/*/*-samsung-gt510/			@TravMurav
device/*/*-samsung-gt58/			@TravMurav
device/*/*-samsung-j3ltetw/		@bolilingmeng89006
device/*/*-samsung-j4lte/			@manoedinata
device/*/*-samsung-j5/				@wonderfulShrineMaidenOfParadise
device/*/*-samsung-j5x/				@wonderfulShrineMaidenOfParadise
device/*/*-samsung-rossa/			@wonderfulShrineMaidenOfParadise
device/*/*-samsung-serranove/			@Minecrell
device/*/*-tolino-shine2hd/			@akemnade
device/*/*-videostrong-kii-pro/			@funderscore
device/*/*-wileyfox-crackling/			@TravMurav @Minecrell
device/*/*-xiaomi-beryllium/			@joelselvaraj
device/*/*-xiaomi-daisy/			@joelselvaraj @alikates
device/*/*-xiaomi-elish/			@jianhua
device/*/*-xiaomi-markw/			@vipaoL
device/*/*-xiaomi-mido/				@barni2000
device/*/*-xiaomi-scorpio/			@Tooniis
device/*/*-xiaomi-tissot/			@jiaxyga @barni2000
device/*/*-xiaomi-vince/			@M0Rf30
device/*/*-xiaomi-wt88047/			@Minecrell
device/*/*-xiaomi-ysl/				@barni2000
device/*/alsa-ucm-conf-cros/			@WeirdTreeThing
device/*/alsa-ucm-conf-qcom-sdm670/		@flamingradian
device/*/device-apple-n61/			@JustSoup321
device/*/device-fairphone-*/			@z3ntu
device/*/device-generic-x86_64/			@craftyguy @ollieparanoid
device/*/device-google-nyan-big/		@jenneron
device/*/device-google-nyan-blaze/		@jenneron
device/*/device-google-peach-pi/		@jenneron
device/*/device-google-peach-pit/		@jenneron
device/*/device-google-sargo/			@flamingradian
device/*/device-google-snow/			@jenneron
device/*/device-huawei-plank/			@gtrxAC
device/*/device-lg-judyln/			@Newbyte
device/*/device-lg-judyp/			@jenneron
device/*/device-microsoft-surface-rt/		@jenneron @jethrob
device/*/device-nvidia-tegra-armv7/		@clamor-s @okias @mschwalm @nokun
device/*/device-odroid-xu4/			@Grimler
device/*/device-oneplus-enchilada/		@calebccff
device/*/device-oneplus-fajita/			@calebccff
device/*/device-postmarketos-trailblazer/	@calebccff
device/*/device-qcom-msm8909/			@wonderfulShrineMaidenOfParadise
device/*/device-qemu-aarch64/			@Minecrell @ollieparanoid
device/*/device-qemu-amd64/			@Minecrell @ollieparanoid
device/*/device-qemu-riscv64/			@Minecrell @z3ntu
device/*/device-qualcomm-sdm845/		@calebccff
device/*/device-raspberry-pi3/			@fossdd
device/*/device-samsung-chagallwifi/		@Grimler
device/*/device-samsung-coreprimevelte/		@legolivesmatter @balejk
device/*/device-samsung-j5y17lte/		@andrisas
device/*/device-samsung-klimtlte/		@Grimler
device/*/device-samsung-lt01/			@knuxify
device/*/device-samsung-m0/			@Newbyte
device/*/device-samsung-manta/			@jenneron @alexmrqt
device/*/device-shift-axolotl/			@amartinz @calebccff @dylanvanassche
device/*/device-solidrun-cubox/			@longnoserob
device/*/firmware-google-sargo/			@flamingradian
device/*/firmware-google-veyron-brcm/		@jenneron
device/*/firmware-motorola-osprey/		@Minecrell
device/*/firmware-odroid-xu4/			@Grimler
device/*/firmware-oneplus-sdm845/		@calebccff
device/*/firmware-powervr-gx6250/		@jenneron
device/*/kobo-epdc-extractor/			@akemnade
device/*/linux-google-nyan/			@jenneron
device/*/linux-google-veyron/			@jenneron
device/*/linux-huawei-plank/			@gtrxAC
device/*/linux-next/				@calebccff
device/*/linux-postmarketos-allwinner/		@Arnavion @PsychoGame
device/*/linux-postmarketos-amlogic/		@funderscore @exkc
device/*/linux-postmarketos-apple/		@JustSoup321
device/*/linux-postmarketos-exynos4/		@Newbyte @Grimler @knuxify
device/*/linux-postmarketos-exynos5/		@jenneron @Grimler
device/*/linux-postmarketos-grate/		@clamor-s @jenneron @jethrob
device/*/linux-postmarketos-imx-ereader/	@akemnade
device/*/linux-postmarketos-marvell/		@longnoserob @exkc
device/*/linux-postmarketos-mediatek-mt8173/	@jenneron @adamthiede
device/*/linux-postmarketos-mediatek-mt8183/	@jenneron @binarycraft
device/*/linux-postmarketos-omap/		@MightyM17 @Sicelo
device/*/linux-postmarketos-qcom-laptop/	@craftyguy @calebccff
device/*/linux-postmarketos-qcom-msm8939/	@Newbyte
device/*/linux-postmarketos-qcom-msm8953/	@M0Rf30 @Ultra-azu @barni2000
device/*/linux-postmarketos-qcom-msm8996/	@Tooniis
device/*/linux-postmarketos-qcom-sc7180/	@jenneron
device/*/linux-postmarketos-rockchip/		@QC8086
device/*/linux-postmarketos-stericsson/		@Newbyte
device/*/linux-samsung-chagallwifi/		@Grimler
device/*/linux-samsung-coreprimevelte/		@legolivesmatter @balejk
device/*/linux-samsung-j5y17lte/		@andrisas
device/*/linux-samsung-klimtlte/		@Grimler
device/*/oem-amd/				@craftyguy
device/*/oem-intel/				@craftyguy
device/*/oem-nvidia/				@craftyguy
device/*/soc-mediatek-mt8183/			@jenneron
device/*/soc-qcom-msm8953/			@barni2000
device/*/soc-qcom-msm8996/			@Tooniis
device/*/soc-qcom-sc7180/			@jenneron
device/*/soc-rockchip-rk3399/			@jenneron
device/*/soc-samsung-exynos4412/		@Newbyte
device/*/u-boot-librem5/			@craftyguy @alistair23 @Newbyte
device/*/u-boot-pinebookpro/			@QC8086
device/*/u-boot-pinephone/			@Arnavion @PsychoGame
device/*/wl1251-cal/				@Danct12
main/postmarketos*gnome*/			@pabloyoyoista @Newbyte @fossdd
main/postmarketos-initramfs/			@calebccff @craftyguy
main/postmarketos-ui-i3wm/			@fossdd
main/postmarketos-ui-phosh/			@pabloyoyoista @Newbyte @fossdd
main/postmarketos-ui-plasma-bigscreen/		@PureTryOut
main/postmarketos-ui-plasma-desktop/		@PureTryOut
main/postmarketos-ui-plasma-mobile/		@PureTryOut
main/shutdown-clear-rtc-wakealarm/		@Arnavion
main/ttyescape/					@calebccff
