[Unit]
Description=Qualcomm remotefs service
Before=msm-modem-uim-selection.service

[Service]
ExecStart=/usr/sbin/rmtfs -r -P -s
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
RequiredBy=msm-modem-uim-selection.service
