[Unit]
Description=Tracker Filesystem Indexing Proxy
ConditionUser=!@system

[Service]
Type=dbus
BusName=org.freedesktop.Tracker3.Miner.Files.Control
ExecStart=/usr/libexec/localsearch-control-3
Restart=on-failure
# Don't restart after tracker daemon -k (aka tracker-control -k)
RestartPreventExitStatus=SIGKILL

