[Unit]
Description=Evolution source registry

[Service]
Type=dbus
# Bus name from: https://gitlab.gnome.org/GNOME/evolution-data-server/-/blob/master/CMakeLists.txt
BusName=org.gnome.evolution.dataserver.Sources5
ExecStart=/usr/libexec/evolution-source-registry
