[Unit]
Description=TinySPARQL portal service

[Service]
Type=dbus
BusName=org.freedesktop.portal.Tracker
ExecStart=/usr/libexec/tinysparql-xdg-portal-3
