[Desktop Entry]
Name=Install postmarketOS
Icon=preferences-system
Exec=doas /usr/bin/os-installer
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
OnlyShowIn=GNOME;
X-GNOME-HiddenUnderSystemd=false
StartupWMClass=org.postmarketOS.os-installer
