[Unit]
Description=Stop pbsplash
Requisite=graphical.target

[Service]
ExecStart=-/usr/bin/killall pbsplash
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
