image: alpine:latest
stages:
  - build

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "parent_pipeline"

{% if archs|length == 0 %}
# Needed because gitlab fails if no jobs are ran:
#  - https://gitlab.com/gitlab-org/gitlab/-/issues/368248
# This applies to `when: manual` is used on all jobs.
placeholder:
  stage: build
  script:
    - 'true'
{% endif %}

.build:
  # Create jobs, but don't run them unless this is
  # overriden in jobs that extend it
  when: manual
  stage: build
  interruptible: true
  before_script:
    # upgrade is mostly needed for "qemu" runners that run edge based on a VM
    # The other build jobs run natively in docker on latest alpine stable and
    # those should always have whatever we need
    - apk upgrade -U
    - .ci/lib/gitlab_prepare_ci.sh
  after_script:
    - cp -r /home/pmos/.local/var/pmbootstrap/packages/ packages/ || true
    - .ci/lib/move_logs.sh $CI_PROJECT_DIR
  artifacts:
    expire_in: 1 week
    paths:
      - packages/
  timeout: 10 h

build-x86_64:
{% if ('x86_64' in archs) %}
  when: always
{% endif %}
  extends: .build
  script:
    - .ci/build-x86_64.sh

build-x86:
{% if ('x86' in archs) %}
  when: always
{% endif %}
  extends: .build
  script:
    - .ci/build-x86.sh

build-aarch64:
{% if ('aarch64' in archs) %}
  when: always
{% endif %}
  extends: .build
  tags: [arm64]
  script:
    - .ci/build-aarch64.sh

build-armv7:
{% if ('armv7' in archs) %}
  when: always
{% endif %}
  extends: .build
  tags: [qemu]
  script:
    - .ci/build-armv7.sh

build-armhf:
{% if ('armhf' in archs) %}
  when: always
{% endif %}
  extends: .build
  tags: [qemu]
  script:
    - .ci/build-armhf.sh

build-riscv64:
{% if ('riscv64' in archs) %}
  when: always
{% endif %}
  extends: .build
  tags: [qemu]
  script:
    - .ci/build-riscv64.sh
