[Unit]
Description=Buffyboard UI service
ConditionPathExists=/dev/tty0
After=getty@tty1.service

[Service]
Type=exec
ExecStart=/usr/bin/buffyboard
ExecStartPre=-modprobe uinput
ExecStartPre=-/bin/sh -c "echo 0 > /sys/class/graphics/fbcon/cursor_blink"
Restart=always
RestartSec=1s
PIDFile=/run/buffyboard.pid

[Install]
WantedBy=multi-user.target
