[Unit]
Description=Ayatana Indicator Sound Service
PartOf=graphical-session.target
PartOf=ayatana-indicators.target lomiri-indicators.target

[Service]
ExecStart=/usr/libexec/ayatana-indicator-sound/ayatana-indicator-sound-service
Restart=on-failure

[Install]
WantedBy=ayatana-indicators.target lomiri-indicators.target
