[Unit]
Description=Ayatana Indicator DateTime Service
PartOf=graphical-session.target
PartOf=ayatana-indicators.target lomiri-indicators.target

[Service]
ExecStart=/usr/libexec/ayatana-indicator-datetime/ayatana-indicator-datetime-service
Restart=on-failure

[Install]
WantedBy=ayatana-indicators.target lomiri-indicators.target
