[Unit]
Description=Lomiri Indicator Location Backend
PartOf=graphical-session.target
PartOf=lomiri-indicators.target

[Service]
ExecStart=/usr/libexec/indicator-location/indicator-location-service
Restart=on-failure

[Install]
WantedBy=lomiri-indicators.target
