CONFIG_BLK_WBT=y
CONFIG_BLK_WBT_MQ=y
CONFIG_CONNECTOR=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_PROC_EVENTS=y
CONFIG_USB_SERIAL_PL2303=m
CONFIG_USB_SERIAL_CH341=m
CONFIG_BOOT_PRINTK_DELAY=y
# systemd
CONFIG_BPF_LSM=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_BTF=y
CONFIG_DEBUG_INFO_BTF_MODULES=y
CONFIG_DEBUG_INFO_DWARF5=y
CONFIG_KPROBES=y
CONFIG_KPROBE_EVENTS=y
CONFIG_SECURITYFS=y

# VSOCK for mkosi vm
CONFIG_VSOCKETS=m
CONFIG_VSOCKETS_DIAG=m
CONFIG_VSOCKETS_LOOPBACK=m
CONFIG_VIRTIO_VSOCKETS_COMMON=m
CONFIG_VHOST_IOTLB=m
CONFIG_VHOST_TASK=y
CONFIG_VHOST=m
CONFIG_VHOST_MENU=y
CONFIG_VHOST_VSOCK=m
